
header{
    display: flex;
    align-items: center;
    justify-content: center;
	background-color : rgb(240, 232, 232);
	padding-inline: 500;
	border: 5px solid rgb(14, 65, 109);
    margin: 1% 10% 1% 10%;

}

h3{
        line-height: 0.005;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30;
}
h6{
    line-height: 0.005;
}

.copy{
    background-color: rgb(14, 65, 109);
    font-size: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
}

p{
    font-family:Cambria, Cochin;
    font-size:13;
    background-color: rgb(197, 182, 202);
    border-bottom: 3px solid #306ee0;
    border-top:3px solid #306ee0;
}

